body {
	font-family: sans-serif;
}

ol {
  /*outline: 1px solid yellow;*/
  list-style: none;
  padding: 0;
  width: 200px;
  line-height: 30px;

}

li {
  /*outline: 1px solid yellow;*/
  background: #F7F9F9;
}

a {
	/*outline: 1px solid green;*/
	display: block;
	text-decoration: none;
	color: black;
	padding-left: 9px;
}
a:hover {
	background: grey;
}
a:active {
  background: #333;
  color: white;
}

ol li:first-child {
	background: #F5B041;
}

ol li:first-child a{
 color:white;
}

ol li:first-child a:hover{
 color:white;
}

nav{
	width: 200px;
}
